html {
    scroll-behavior: smooth;
}

body {
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.mapa iframe {
    border-radius: 12px;
}

a:hover {
    color: #c3ad6f !important;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.cinzel-decorative {
    font-family: 'Cinzel Decorative', serif;
}

.dorado {
    color: #c3ad6f !important;
}

.verde {
    color: #707f62 !important;
}

.bg-verde {
    background-color: #707f62 !important;
}

.marron {
    color: #4d443b !important;
}

.marco {
    max-width: 700px;
    padding: 0 1rem;
}

.border-warning {
    --bs-border-opacity: 1;
    border-color: #c3ad6f !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}